.form__container_hobby{
  margin: 35px auto 0 auto;
  padding-bottom: 10px;
  width: 238px;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: 0;
}

@media screen and (min-width: 574px){
.form__container_hobby{
  width: 358px;
}
}