.profile__form_title{
  margin: 75px  auto 0 auto;
  padding-bottom: 10px;
  width: 238px;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: 0;
}

@media screen and (min-width: 574px){
.profile__form_title{
  width: 358px;
}
}