.popup__input {
  margin: 16px auto;
  padding-bottom: 10px;
  width: 200px;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: 0;
}

@media screen and (min-width: 880px) {
  .popup__input {
    width: 385px;
  }
}
