.zoom__text {
  margin-left: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: white;
  text-shadow: 5px 5px 10px white;
}

@media screen and (min-width: 574px) {
  .zoom__text {
    font-size: 16px;
  }
}
