.profile{
  max-width: 880px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 880px) {
.profile{
  display: grid;
  grid-template-columns: 150px 400px 450px;
  grid-template-rows: repeat(2 auto);
  grid-template-areas: 
  "img title buton"
  "img subtitle buton";
  justify-items: flex-start;
}
}