.footer__container{
  margin: 0 auto;
  max-width: 280px;
}

@media screen and (min-width: 574px) {
.footer__container{
max-width: 574px;

}
}

@media screen and (min-width: 880px) {
.footer__container{
  max-width: 880px;
  margin: 0 auto;
  padding: 0;
}
}