.profile__img{
  margin: 0 auto;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: block;
}

@media screen and (min-width: 880px){
.profile__img{
  grid-area: img;
  align-self: flex-end;
}
  .profile__button_add-img{
    width: 150px;
    height: 50px;
    object-fit: cover;
    border-left: white solid 2px;
    border-right: white solid 2px;
  }
}

