@font-face {
  font-family: "ubuntu-regular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Ubuntu-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ubuntu-bold";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Ubuntu-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "ubuntu-Italic";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Ubuntu-Italic.ttf) format("truetype");
}

.page {
  font-family: "ubuntu-regular";
  font-size: 16px;
  background-color: #e3e3e3;
}

.page__subtitle {
  font-style: italic;
}

.page__image_wrapper {
  padding: 1em 0;
}

.page__image {
  width: 800px;
}

.page__image_achievements {
  background-image: url(../images/achievements.svg);
  height: 444px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
