.element__article{
  margin: 0;
  width: 282px;
  height: 361px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}