.zoom {
  display: none;
  position: absolute;
  top: 86%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 650px;
  z-index: 1;
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

@media screen and (min-width: 320px) {
  .zoom {
    width: 320px;
    height: 300px;
  }
}

@media screen and (min-width: 574px) {
  .zoom {
    width: 500px;
    height: 500px;
  }
}

@media screen and (min-width: 880px) {
  .zoom {
    width: 850px;
    height: 700px;
  }
}
