.img__container_zoom{
  width: 500px;
  height: 500px;
  background-color: aliceblue;
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}