.form__container_button{
  display: block;
  margin: 45px auto;
  width: 238px;
  height: 46px;
  cursor: pointer;
  color: white;
  background-color: black;
  transition: opacity linear 0.3s;
}

@media screen and (min-width: 574px){
.form__container_button{
  width: 358px;
  height: 50px;
}
}